docker-compose/fluent-bit/plugins/fluentbit-plugin-natspublisher.h
docker-compose/fluent-bit/plugins/fluentbit-plugin-natspublisher.so
dist/linux/fluentbit-plugin-natspublisher.h
dist/linux/fluentbit-plugin-natspublisher.so
